/* All Searches */
/*  Main
    Taskbar
    
    
    
    
    */

/* Main -------------------------------------------------------- */

.image-replace {
    display: inline-block;
    width: 10px; /* Passe die Breite entsprechend der Bildgröße an */
    height: 20px; /* Passe die Höhe entsprechend der Bildgröße an */
    background: url('Bilder/I-ch.png') no-repeat center center;
    background-size: contain;
    text-indent: -9999px; /* Versteckt den Text "i" */
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    position: relative;
    width: 100%;
}

.banner img {
    width: 100%;
    height: 250px; /* Adjust the height as needed */
    object-fit: cover;
}

.header-content {
    position: absolute;
    top: 25%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: left;
}

.header-content h1 {
    font-size: 2em;
    margin: 0;
}

.header-content p {
    font-size: 1.2em;
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 10px;
    font-size: 0.9em;
}

main {
    background-color: #f9f9f9;
    padding: 200px 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

form input, form select {
    padding: 10px;
    margin: 10px 0;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #eee;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
    font-size: 0.8em;
}


/* Taskbar ------------------------------------------*/
.taskbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.taskbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.taskbar ul li {
    float: left;
}

.taskbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.taskbar ul li a:hover {
    background-color: #111;
}

body {
    margin-top: 50px; /* Adjust this value based on the height of your taskbar */
}
