<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body  class="container">
  <header>
    <div class="logocont">
      <a href="{{ url_for('index') }}"><img id="logo" src="{{ url_for('static', filename='Bilder/logo2.png') }}" alt="Toppraemie Logo"></a>
      <h2 id="anim-text">Jetzt kostenlos vergleichen und bares Geld sparen</h2>
      <button id="start-animation">Jetzt die beste Prämie suchen</button> <!-- Button direkt unter dem Logo -->
  </div>
    
    <nav>
        <ul>
          <li><a href="{{ url_for('krankenkasse') }}">Krankenkasse</a></li>
          <li><a href="{{ url_for('haushaltsvers') }}">Haushaltsversicherung</a></li>
          <li><a href="{{ url_for('wertsachvers') }}">Wertsachenversicherung</a></li>
          <li><a href="{{ url_for('rechtsvers') }}">Rechtsschutz</a></li>
          <li><a href="{{ url_for('autovers') }}">Autoversicherung</a></li>
          <li><a href="{{ url_for('reisevers') }}">Reiseversicherung</a></li>
          <li><a href="{{ url_for('tiervers') }}">Tierversicherung</a></li>
          <li><a href="{{ url_for('vorsorgevers') }}">Vorsorge 3a/3b</a></li>
          <li><a href="{{ url_for('steuererklärung') }}">Steuererklärung</a></li>
        </ul>
    </nav>
  </header>
  <main>
    <div class="maincont">
      <div class="seccont">
        <h1 class="marginbot20px">Wir helfen dir die beste Prämie für deine Bedürfnise zu finden </h1>
        <h2 class="marginbot20px">für welche Bereich Interessiertst du dich?</h2>
        <ul id="optionen" class="grid-layout">
          <li><a href="{{ url_for('krankenkasse') }}">Krankenkasse</a></li>
          <li><a href="{{ url_for('haushaltsvers') }}">Haushaltsversicherung</a></li>
          <li><a href="{{ url_for('wertsachvers') }}">Wertsachenversicherung</a></li>
          <li><a href="{{ url_for('rechtsvers') }}">Rechtsschutz</a></li>
          <li><a href="{{ url_for('autovers') }}">Autoversicherung</a></li>
          <li><a href="{{ url_for('reisevers') }}">Reiseversicherung</a></li>
          <li><a href="{{ url_for('tiervers') }}">Tierversicherung</a></li>
          <li><a href="{{ url_for('vorsorgevers') }}">Vorsorge 3a/3b</a></li>
          <li><a href="{{ url_for('steuererklärung') }}">Steuererklärung</a></li>
        </ul>
      </div>
    </div>
  </main>
  <footer>
    <a href="/Impressum.html" target="_self">Impressum</a>
    <a href="/Nutzungsbedingungen.html" target="_self">Nutzungsbedingungen</a>
    <a href="/Datenschutz.html" target="_self">Datenschutzerklärung</a>
  </footer>
  <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>