/*Utility classes*/
.animate{
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animate--infinite{
  animation-iteration-count: infinite;
}

.animate--delay-1s{
  animation-delay: 1s;
}

.animate--fast{
  animation-duration: 0.6s;
}

.animate--slow{
  animation-duration: 3s;
}

/*Animations*/

@keyframes slideInLeft{
  from{
    transform: translateX(-300px);
  }

  to{
    transform: translateX(0);
  }
}
@keyframes slideInRight{
  from{
    transform: translateX(300px);
  }

  to{
    transform: translateX(0);
  }
}
@keyframes rotate{
  from{
    transform: rotate(0);
  }

  to{
    transform: rotate(360deg);
  }
}

.slideInLeft{
  animation-name: slideInLeft;
  animation-timing-function: ease-in;
}
.slideInRight{
  animation-name: slideInRight;
  animation-timing-function: ease-in;
}
.rotate{
  animation-name: rotate;
  animation-timing-function: linear;
  transform-origin: left;
}

@keyframes bounce{
  0%, 20%, 50%, 80%, 100%{
    transform: translateY(0);
  }
 

  40%{

    transform: translateY(-30px);
  }
 
  60%{
    transform: translateY(-15px);
  }
 
}

.bounce{
  animation-name: bounce;
}


body{
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
}
section{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
}

h1{
  font-size: 5rem;
}

/*

.heading1{

  
  animation-name: slideInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
}*/