
body{
  margin: 0;
  background-color: rgb(36, 36, 36);
  width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}

p{
  margin: 0;
}
nav{
  padding: 10px;
  display: flex;
  height: 20px;
  background-color: rgb(52, 88, 100);
  justify-content: space-between;
  animation: appear 2s ease-out;
}
a:visited{
  color: white;
}
.sec1{
  width: 30%;
}
.sec2{
  width: 30%;
  display: flex;
  justify-content: space-around;
}
.sec3{
  width: 30%;
  display: flex;
  flex-direction: row-reverse;
}

header{
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.animate--infiinite{
  animation-iteration-count: infinite;
}

@keyframes appear {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
  
}

@keyframes appearSlideRight {
  0%{
    opacity: 0;
    transform: translateX(80%);
  }
  100%{
    opacity: 1;
    transform: translateX(0);

  }
}
.tollBild::after, .tollBild::before{
  content: '';
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: conic-gradient(rgb(255, 234, 0), rgb(0, 255, 68), rgb(0, 255, 255), rgb(255, 234, 0));
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 4px;
  border-radius: 10px;
  animation: appear 1s 1s forwards;
}
.tollBild::after{
  filter: blur(1rem);
  opacity: 0;
  animation: appear 1s 1s forwards;
}
.tollBild{
  width: 500px;
  height: 400px;
  background-color: grey;
  animation: appearSlideRight 1s ease-out;
  border-radius: 10px;
  padding: 10px;
  position: relative;
}

.cont{
  display: flex;
  justify-content: space-around;
}

h1{
  margin: 0;
}

.cont1h{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: moveInLeft 1s ease-in-out;
}
.cont1h p{
  margin-top: 15px;
}
.movingLine{
  height: 5px;
  background-color: rgb(0, 255, 251);
  animation: movingLineAni 3s ease-in-out infinite;
  width: 10%;
  border-radius: 5px;
}

@keyframes movingLineAni {
  0%, 100%{
    transform: translateX(-500%);
  }
  50%{
    transform: translateX(500%);

  }
}

@keyframes moveInLeft {
  0%{
    transform: translateX(-100%);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes rotate {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);

  }
}
.rotate{
  animation: rotate 2s linear;
}

@keyframes bounce {
  0%, 40%, 80%, 100%{
    transform: translateY(0%);
  }
  20%{
    transform: translateY(-20%);
  }
  60%{
    transform: translateY(-50%);
  }
  90%{
    transform: translateY(5%);
  }
}

.bounce{
  animation: bounce 1s ease-in-out both;
}

@keyframes disappear {
  0%{
    opacity: 1;
  } 
  100%{
    opacity: 0;
  }   
}

.disappear{
  animation: disappear 1s ease-out both;
}

.bigger{
  font-size: 3rem;
}

.auflistung{
  display: flex;
  flex-direction: column;
  align-items: center;
}

main{
  margin-top: 20vh;
}

@keyframes flipp {
  0%{
    transform: rotateY(0deg) rotateX(0deg);
  }
  33%{
    transform: rotateY(360deg);
  }
  66%{
    transform: rotateY(360deg) rotateX(360deg);
  }
  100%{
    transform: rotateY(720deg) rotateX(720deg);
  }
  
}
.flipp{
  animation: flipp 4s ease-in-out;
}








/*
.box{
  margin-top: 30px;
  width: inherit;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.card{
  width: 500px;
  height: 500px;
  background-color: grey;
  border: 5px solid black;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes appear {
  from{
    opacity: 0;
    scale: 0.5;
    transform: translateX(-200px);
    clip-path: inset(100% 100% 0 0);
  }
  to{
    opacity: 1;
    scale: 1;
    transform: translateX(0);
    clip-path: inset(0 0 0 0);
  }
}
.one{
  background-color: red;
}*/

